<footer
  class="bg-gradient-to-br from-neutral-900 via-neutral-950 to-black text-neutral-300 rounded-t-2xl z-100 shadow-lg  ">
  <div class="w-full mx-auto max-w-screen-xl px-6 py-8 md:flex md:items-center md:justify-between">

    <!-- النص -->
    <span class="text-sm text-neutral-400">
      © 2025
      <a href="#" class="text-accent hover:text-accent/80 font-semibold transition">Mohamed Hatem™</a>.
      All Rights Reserved.
    </span>

    <!-- اللينكات -->
    <ul
      class="flex flex-wrap items-center mt-4 md:mt-0 text-sm font-medium text-neutral-400 gap-6 justify-center md:justify-end">
      <li>
        <a routerLink="/" class="hover:text-accent transition-colors duration-300">Home</a>
      </li>
      <li>
        <a routerLink="/about" class="hover:text-accent transition-colors duration-300">About</a>
      </li>
     
      <li>
        <a routerLink="/services" class="hover:text-accent transition-colors duration-300">Services</a>
      </li>
      <li>
        <a routerLink="/portfolio" class="hover:text-accent transition-colors duration-300">Portfolio</a>
      </li>
      <li>
        <a routerLink="/contact" class="hover:text-accent transition-colors duration-300">Contact</a>
      </li>
    </ul>
  </div>

  <!-- خط فاصل لطيف -->
  <div class="border-t border-neutral-800 mt-6"></div>

  <!-- أيقونات -->
  <div class="flex justify-center gap-6 py-4 text-neutral-400">
    <a href="#" class="hover:text-accent transition"><i class="fa-brands fa-github text-xl"></i></a>
    <a href="#" class="hover:text-accent transition"><i class="fa-brands fa-linkedin text-xl"></i></a>
    <a href="#" class="hover:text-accent transition"><i class="fa-brands fa-twitter text-xl"></i></a>
    <a href="#" class="hover:text-accent transition"><i class="fa-brands fa-behance text-xl"></i></a>
  </div>
</footer>
